<div class="row">
  <div class="col-xs-4 col-xs-offset-4">  
    <%= render "layouts/errors" %>

    <h1>Sign In</h1>

    <form action="<%= session_url %>" method="post" >
      <%= auth_token_input %>
      <label>Email
        <input type="text" name="user[email]" class="form-control">
      </label>
      <label>Password
        <input type="password" name="user[password]" class="form-control">
      </label>
      <br>
      <input type="submit" class="btn btn-success" value="Login">
    </form>

    <br>

    New to Trellito? <a href="<%= new_user_url %>">Sign Up</a> or
    <form action="<%= session_url %>" method="post">
      <%= auth_token_input %>
      <input type="hidden" name="user[email]" value="guest">
      <input type="hidden" name="user[password]" value="password">
      <input type="submit" value="Login as Guest" class="btn btn-warning">
    </form>
  </div>
</div>