<div class="list-item col-xs-3 col-xs-offset-1">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        <%= list.escape('title') %>
        <button type="button" class="close remove-list" data-id="<%= list.id %>">&times;</button>
      </h4>
    </div>
    <div class="panel-body">
      <div class="cards">
        <ul class="list-cards">
          <% cards.each(function(card) { %>
            <li class="card">
              <%= card.escape('title') %>
              <a class="remove-card btn btn-xs" data-id="<%= card.escape('id') %>">&times;</a>
            </li>
          <% }) %>
        </ul>
        <div id="new-card-<%= list.escape('id') %>"</div>
      </div>
<<<<<<< HEAD
      <a id="add-card-<%= list.escape('id') %>" class="add-card btn btn-info btn-sm"><%= buttonText %></a>
=======
      <a id="add-card" class="btn btn-info btn-sm"><%= buttonText %></a>
>>>>>>> 5ff7601606d4a032404d8930f6ad72bfad584334
    </div>
  </div>
</div>
